@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

/* --default, dark --prefersdark; */

* {
  font-family: "Roboto", sans-serif;
}
